.button {
  height: 100%;
  width: 46px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  svg {
    margin-left: auto;
    margin-right: auto;
  }
}

.button:hover {
  background-color: #505050;
}
