.tab {
  height: 30px;
  background-color: #3c3c3c;
  display: flex;
  font-family: sans-serif;
  color: #eeeeee;
}

.logo {
  width: 30px;
  height: 30px;
}

.right {
  display: flex;
  // flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 138px;
}

.title {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.closeButton:hover {
  background-color: #e81123 !important;
}
