@font-face {
  font-family: 'Transport New';
  src: url('https://fonts.leondrolio.com/TransportNew-Medium.ttf');
}

@font-face {
  font-family: 'Transport New';
  src: url('https://fonts.leondrolio.com/TransportNew-Light.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'Transport New';
  src: url('https://fonts.leondrolio.com/TransportNew-Heavy.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Transport New';
  src: url('https://fonts.leondrolio.com/TransportNew-Medium.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Transport New';
  src: url('https://fonts.leondrolio.com/TransportNew-LightItalic.ttf');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Transport New';
  src: url('https://fonts.leondrolio.com/TransportNew-HeavyItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

html, body {
  padding: 0;
  margin: 0;
}

xml {
  display: none;
}

input[class*=blocklyHtmlInput] {
  border: none !important;
  border-radius: 4px !important;
  font-family: sans-serif !important;
  height: 100% !important;
  margin: 0 !important;
  outline: none !important;
  padding: 0 1px !important;
  width: 100% !important;
}

div[id=app] {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
