.button {
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  svg {
    margin-left: auto;
    margin-right: auto;
  }
}

.button:hover {
  background-color: #505050;
}
